/* related Styles */
*{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 160px;
    height: 54px;
    border: none;
    margin-top: 32px;
    color: white;
    font-size: 1rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;

}
/* header section Style */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.brand{
    color: rgb(19, 19, 19);
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(66, 66, 66);
    font-family: 'Work Sans';
    font-size: 1.2rem;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner section style */
.banner-contant{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}
.banner-img{
    border-radius: 8px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
/* Team list section Style */
.team-list{
    align-items: center;
    margin-top: 85px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.team-text{
    margin-left: 73px;
    max-width: 530px;
}
.span-1{
    font-weight: 500;
    font-size: 2.8rem;
    color: rgb(114, 114, 114);
}
.span-2{
    font-weight: 700;
    font-size: 2.8rem;
    color: black;
}
.span-3{
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(255, 144, 14);
}
.text-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
}
/* facts section style */
.facts{
    margin-top: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.fact{
    border: 1px solid yellow;
    width: 230px;
    height: 230px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-num{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 600;
}
.fact-name{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 600;
}
.facts-title{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 1.8rem;
font-weight: 700;
margin-bottom: 20px;
}
.facts-description{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
margin-bottom: 50px;
}
/* sponsors section style */
.Sponsors-info{
    max-width: 542px;
    margin: 130px auto 50px;
    text-align: center;
}
.section-title{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 22px;
}
.section-description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}
.sponsors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img{
    width: 150px;
    height: 40px;
}


/* responsive media for small device */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-link, 
    .team-list{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
    .team-text{
        margin-left: 15px;
    }
    .facts-container, .sponsors-company{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .fact{
        margin: 0 auto;
    }
    .facts-title{
        margin-left: 20px;
    }
    .facts-description{
        margin-left: 20px;
    }
    .sponsors-company{
        justify-items: center;
        gap: 40px;
    }
}

/* responsive media for medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .team-list{
        flex-direction: column;
    }
    .team-text{
        margin: 20px auto;
    }
    .facts-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .facts-title{
        margin-left: 50px;
    }
    .facts-description{
        margin-left: 50px;
    }
}